<!DOCTYPE html>
<div class="container">
    <br><br><br>
    <h2>교통신호제어</h2>
    <div class="blog-post">
        <div>교통신호제어는 차량 및 보행자의 신호등을 교통 상황에 맞게 제어, 사람의 개입 없이 스스로 현재 교통 상황을 판단하고 빠르게 서비스를 제공하는 것을 목적으로 두고 있다
            이러한 목적에 맞게 개발된 시스템을 소개한다.
        </div>
        <br><br><br>
        <h3>신호제어</h3>
        <hr>
        <div>
            신호제어에 따른 소속 함수를 소개한다.<br>
            준비중..
        </div>
        <br><br><br>
        <h3>퍼지 추론 규칙</h3>
        <hr>
        <div>
                퍼지 추론 규칙을 소개한다.<br>
                준비중..
        </div>
    </div>
    <br><br><br><br><br><br>
    <div style="font-size: 12px">참고문헌 : 김광백. (2010). 퍼지 추론 규칙을 이용한 교통 신호 제어. 한국컴퓨터정보학회논문지 , 15(9), 19-24.</div>
    <br><br><br><br>
</div>