<!DOCTYPE html>

  <p>
  <div class="container">  <!-- container class 가 페이지의 컨텐츠영역을 지정 -->
   <div class="jumbotron" style="width:400px; margin:auto">

          <div class="boxbox" style='width:300px; margin:auto'>
           <form accept-charset="UTF-8" role="form" method="post" action="/users/auth">
            <h4>관리자 로그인</h4> <hr>
            <div class="form-group">
                <label for="username-email">관리자 아이디</label>
                <input name="uid" value='' id="username-email" placeholder="E-mail" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input name="pass" id="password" value='' placeholder="Password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="로그인" />
            </div>
           </form>
          </div>

     </div>  <!-- jumbotron -->
    </div> <!-- /.container -->
