<!DOCTYPE html>


<h5>systemcontrol</h5>

<form name=buy method=post action="/system/systemcontrol">
    <input type="hidden" name="msg" id="msg" value="startmsg">
    <input type="submit" class="btn btn-primary" value="시작하기">
</form>

<form name=buy method=post acation="/system/systemcontrol">
    <input type="hidden" name="msg" id="msg" value="stopmsg">
    <input type="submit" class="btn btn-primary" value="종료하기">
</form>

<h3>전송</h3>
<form name=join method=post action="/system/time">
    시간 : <input name="time"  id="time" >
    <input type="submit" value="시간 전송">
</form>
