<!DOCTYPE html>

<script language="javascript">
    window.onload = function () {
        var socket = io.connect('http://192.168.219.177:3000');//소켓생성
        socket.on('road1_1', function (road) {//조도값실시간수신
           console.log(road);
        });
    };
</script>
<h5>systemcontrol</h5>

<form name=buy method=post action="/system/systemcontrol">
    <input type="hidden" name="msg" id="msg" value="startmsg">
    <input type="submit" class="btn btn-primary" value="시작하기">
</form>

<form name=buy method=post action="/system/systemcontrol">
    <input type="hidden" name="msg" id="msg" value="stopmsg">
    <input type="submit" class="btn btn-primary" value="종료하기">
</form>



<h3>전송</h3>
<form name=join method=post action="/monitoring">
    시간 : <input type="number" name="time">
    <input type="submit" value="전송">
</form>
